.center-div {
    grid-column-start: 1; 
    grid-column-end: 3;
    position: relative;
    display: flex;
    justify-content: center;
}
.result {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    background: #212121;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    width: 60%;
    position: relative;
}
.search button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.search input {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    outline: none;
    font-size: 25px;
}
.search ::placeholder {
    top: 10%;
    font-size: 25px;
}
.center-search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.none {
    display: none;
}
.search-grid {
    box-shadow: 2px 54px 68px 19px rgba(0,0,0,0.73);
    -webkit-box-shadow: 2px 54px 68px 19px rgba(0,0,0,0.73);
    -moz-box-shadow: 2px 54px 68px 19px rgba(0,0,0,0.73);
    border-radius: 20px;
    align-items: center;
    margin-top: 50px;
    top:0;
    position: absolute;
    z-index: 4;
    background: #212121;
    padding: 20px;
}
.box {
    display: flex;
    flex-direction: column; 
    width: 80%;
    font-size: 16px;
    cursor: pointer; 
 }
 .search-card {
    position: relative;
    display: flex;
    flex-direction: column; 
    width: 80%;
    font-size: 16px;
    cursor: pointer; 
 }
 .search-card .poster {
    position: relative;
     width: 100%;
     height: auto;
     border-radius: 20px;
     z-index: 0;
     object-fit: cover;
 }
 .info {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    bottom: 0;
    position: absolute;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(232, 232, 232, 0.038);
    backdrop-filter: blur(2.5px);
    color: white;
 }
 .hide {
    display: none;
 }
 .logo-div {
    cursor: pointer;
 }
 @media screen and (max-width: 600px) {
    .search input {
        font-size: 16px;
    }
    .center-div {
        margin-top: 30px;
        width: 100%;
        align-items: center;
    }.search ::placeholder {
        display: flex;
        top: 25%;
        font-size: 16px;
    }
 }
 