body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: rgba(25, 25, 25, 1);
    overflow-x: hidden;
}
body {
    display: flex;
    justify-content: center;
}
.App {
    display: grid;
}